@using NAMIS.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<useraccount> SignInManager
@inject UserManager<useraccount> UserManager

<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Cleaning Gardening Outfit

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Monitoring of Security Post and Reception

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="PreparedMemo" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Write Memo

        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Minutes Of The Meeting

        </p>
    </a>
</li>






