@using NAMIS.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<useraccount> SignInManager
@inject UserManager<useraccount> UserManager

<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Handling Gender Issues

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Adoc Assignment by HOD

        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Bridging of Gender Gap

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Gender and Food Security

        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="PreparedMemo" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Write Memo

        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Minutes Of The Meeting

        </p>
    </a>
</li>






