@using NAMIS.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<useraccount> SignInManager
@inject UserManager<useraccount> UserManager

<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="AssignVehicles" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Assigning Vehicles

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="Receptionist" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Receptionist

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Reading & Vetting of Letters

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Circulation of Minutes

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Writing of Notice of Meeting

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="FileList" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Monitoring of Confidential File

        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="PreparedMemo" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Write Memo

        </p>
    </a>
</li>




<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Minutes Of The Meeting

        </p>
    </a>
</li>






