@using NAMIS.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<useraccount> SignInManager
@inject UserManager<useraccount> UserManager

<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Getting/Dispatching Circular/Letters

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Adoc Assignment by HOD

        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Management of Mails

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Monitoring of Attendance Register

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Dispatching of Official Letter

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="PreparedMemo" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Write Memo

        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-area="" asp-controller="Users" asp-action="WriteReport" class="nav-link">
        <i class="fas fa-info-circle"></i>
        <p>
            Minutes Of The Meeting

        </p>
    </a>
</li>
