@model NAMIS.Models.MinuteRegister

@{
    ViewData["Title"] = "Edit";
}



<h6>Minute Register</h6>
<hr />
<div class="row">
    <div style="height: 100%;width: 100%;overflow-y: scroll;  overflow-x: auto" class="col-xs-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MinuteTitle" class="control-label"></label>
                <textarea asp-for="MinuteTitle" class="form-control"></textarea>
                <span asp-validation-for="MinuteTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance" class="control-label"></label>
                <textarea style="width:100%;height:25rem" asp-for="Attendance" class="form-control"></textarea>
                <span asp-validation-for="Attendance" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
