@model NAMIS.Models.biodata

@{
    ViewData["Title"] = "biodatasEdit";
    Layout = "~/Views/Shared/_EdLayout.cshtml";
}


<h4>biodata</h4>
<hr />

<form id="myForm" asp-action="biodatasEdit">


    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="SprpNo" />

            <div class="form-group">
                <label asp-for="SprpNo" class="control-label"></label>
                <input asp-for="SprpNo" class="form-control" />
                <span asp-validation-for="SprpNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentAppointment" class="control-label"></label>
                <input asp-for="CurrentAppointment" class="form-control" />
                <span asp-validation-for="CurrentAppointment" class="text-danger"></span>
            </div>


           
            </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div style="height:200px"  class="form-group">
                <label asp-for="EdNote" class="control-label"></label>
                <textarea asp-for="EdNote" style="width:100%;height:100%" class="form-control"></textarea>
                <span asp-validation-for="EdNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        </div>
</form>
   

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script src="~/lib/jquery/dist/jquery-1.4.1.min.js"></script>
    <script>
        $('form').submit(function () {

            $(this).find(':submit').attr('disabled', 'disabled');

        });

    </script>
    <script>
        $(function () {
            $('#btnSubmit').on('click', function () {
                $(this).val('Please wait ...')
                    .attr('disabled', 'disabled');
                $('#myForm').submit();
            });

        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
