@model NAMIS.Models.nextofkin

@{
    Layout = null;

}

<div class="row">


    <div class="col-md-12">
        <form id="myForm" asp-action="CreateEdit" asp-route-id="@Model.ID" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Relationship" class="control-label"></label>
                <select asp-for="Relationship" class="form-control">

                    <option value="">-----Select-----</option>
                    <option value="FATHER">FATHER</option>
                    <option value="MOTHER">MOTHER</option>
                    <option value="SISTER">SISTER</option>
                    <option value="BROTHER">BROTHER</option>
                    <option value="UNCLE">UNCLE</option>
                    <option value="AUNTY">AUNTY</option>
                    <option value="COUSIN BROTHER">COUSIN BROTHER</option>
                    <option value="COUSIN SISTER">COUSIN SISTER</option>
                    <option value="FRIEND">FRIEND</option>
                    <option value="NEPHEW">NEPHEW</option>
                    <option value="NIECE">NIECE</option>
                    <option value="SON">SON</option>
                    <option value="HUSBAND">PHUSBAND</option>
                    <option value="WIFE">WIFE</option>
                    <option value="DAUGHTER">DAUGHTER</option>
                    <option value="OTHERS">OTHERS</option>


                </select>
                <span asp-validation-for="Relationship" class="text-danger"></span>
            </div>


            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
