@model NAMIS.Models.Visitor

@{
    ViewData["Title"] = "Create";
}



<h6>Visitor</h6>
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <form id="myForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VisitorName" class="control-label"></label>
                <input asp-for="VisitorName" class="form-control" />
                <span asp-validation-for="VisitorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailID" class="control-label"></label>
                <input asp-for="EmailID" class="form-control" />
                <span asp-validation-for="EmailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurposeOfVisit" class="control-label"></label>
                <textarea asp-for="PurposeOfVisit" class="form-control"></textarea>
                <span asp-validation-for="PurposeOfVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoToVisit" class="control-label"></label>
                <input asp-for="WhoToVisit" class="form-control" />
                <span asp-validation-for="WhoToVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DidKnow" class="control-label"></label>
                <input asp-for="DidKnow" class="form-control" />
                <span asp-validation-for="DidKnow" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TimeOfVisit" class="control-label"></label>
                <input asp-for="TimeOfVisit" class="form-control" />
                <span asp-validation-for="TimeOfVisit" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" id="bntSubmit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery-1.4.1.min.js"></script>
    <script>
        $('form').submit(function () {

            $(this).find(':submit').attr('disabled', 'disabled');

        });

    </script>
    <script>
        $(function () {
            $('#btnSubmit').on('click', function () {
                $(this).val('Please wait ...')
                    .attr('disabled', 'disabled');
                $('#myForm').submit();
            });

        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
