@model NAMIS.Models.itstudent

@{
    ViewData["Title"] = "Edit";
}



<h6>IT student</h6>
<hr />

    
        <form id="myForm" asp-action="Edit">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SprpNo" class="control-label"></label>
                        <input asp-for="SprpNo" class="form-control" />
                        <span asp-validation-for="SprpNo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SDate" class="control-label"></label>
                        <input asp-for="SDate" type="date" class="form-control" />
                        <span asp-validation-for="SDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EDate" class="control-label"></label>
                        <input asp-for="EDate" type="date" class="form-control" />
                        <span asp-validation-for="EDate" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="QualificationInView" class="control-label"></label>
                        <select asp-for="QualificationInView" data-val-required="Qualification In View Required" class="form-control">

                            <option value="">-----Select-----</option>
                            <option value="Phd">Phd</option>
                            <option value="Msc">Msc</option>
                            <option value="MBA">MBA</option>
                            <option value="B.sc">B.sc</option>
                            <option value="BA">BA</option>
                            <option value="B Tech">B Tech</option>
                            <option value="HND">HND</option>
                            <option value="ND">ND</option>
                            <option value="OND">OND</option>
                            <option value="NCE">NCE</option>
                            <option value="Diploma">Diploma</option>
                            <option value="SSCE">SSCE</option>

                            <option value="Certificate">Certificate</option>
                            <option value="FSLC">FSLC</option>

                            <option value="Others">Others</option>
                        </select>
                        <span asp-validation-for="QualificationInView" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label asp-for="TrainingDescription" class="control-label"></label>
                        <textarea asp-for="TrainingDescription" class="form-control"></textarea>
                        <span asp-validation-for="TrainingDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EmailID" class="control-label"></label>
                        <input asp-for="EmailID" class="form-control" />
                        <span asp-validation-for="EmailID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNo" class="control-label"></label>
                        <input asp-for="PhoneNo" class="form-control" />
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="School" class="control-label"></label>
                        <input asp-for="School" class="form-control" />
                        <span asp-validation-for="School" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contact" class="control-label"></label>
                        <input asp-for="Contact" class="form-control" />
                        <span asp-validation-for="Contact" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HighestQualification" class="control-label"></label>
                        <select asp-for="HighestQualification" data-val-required="Highest Qualification Required" class="form-control">

                            <option value="">-----Select-----</option>
                            <option value="Phd">Phd</option>
                            <option value="Msc">Msc</option>
                            <option value="MBA">MBA</option>
                            <option value="B.sc">B.sc</option>
                            <option value="BA">BA</option>
                            <option value="B Tech">B Tech</option>
                            <option value="HND">HND</option>
                            <option value="ND">ND</option>
                            <option value="OND">OND</option>
                            <option value="NCE">NCE</option>
                            <option value="Diploma">Diploma</option>
                            <option value="SSCE">SSCE</option>

                            <option value="Certificate">Certificate</option>
                            <option value="FSLC">FSLC</option>

                            <option value="Others">Others</option>
                        </select>
                        <span asp-validation-for="HighestQualification" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Department" class="control-label"></label>
                        <select asp-for="Department" data-val-required="Department Required" id="Department" name="Department" class="form-control"
                                asp-items="@(new SelectList(@ViewBag.ListofDept, "Department", "Department"))">
                        </select>
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StationName" class="control-label"></label>
                        <select asp-for="StationName" data-val-required=" Station Name Required" class="form-control"
                                asp-items="@(new SelectList(@ViewBag.ListofStation, "StationName", "StationName"))"></select>
                        <span asp-validation-for="StationName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>


<div>
    <a asp-action="PreparedIt" asp-controller="Users">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery-1.4.1.min.js"></script>
    <script>
        $('form').submit(function () {

            $(this).find(':submit').attr('disabled', 'disabled');

        });

    </script>
    <script>
        $(function () {
            $('#btnSubmit').on('click', function () {
                $(this).val('Please wait ...')
                    .attr('disabled', 'disabled');
                $('#myForm').submit();
            });

        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
