@model NAMIS.Models.bydeaths

@{
    ViewData["Title"] = "Create";
}



    <h4><b>Record Of Service </b>&nbsp;&nbsp;/&nbsp;&nbsp;By Deaths Page</h4>
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <form id="myForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateOfDeath" class="control-label"></label>
                <input asp-for="DateOfDeath" class="form-control" />
                <span asp-validation-for="DateOfDeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GratuityPaidToEstate" class="control-label"></label>
                <input asp-for="GratuityPaidToEstate" class="form-control" />
                <span asp-validation-for="GratuityPaidToEstate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindowsPensionPaid" class="control-label"></label>
                <input asp-for="WindowsPensionPaid" class="form-control" />
                <span asp-validation-for="WindowsPensionPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrphansPensionPaid" class="control-label"></label>
                <input asp-for="OrphansPensionPaid" class="form-control" />
                <span asp-validation-for="OrphansPensionPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
               <p style="float:left"> <input type="submit" id="btnSubmit" value="Create" class="btn btn-primary" /></p>
               <p style="float:right"> <a asp-action="Create" asp-area="" asp-controller="bytransfers">Skip</a></p>
                
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    
        <script src="~/lib/jquery/dist/jquery-1.4.1.min.js"></script>
        <script>
            $('form').submit(function () {

                $(this).find(':submit').attr('disabled', 'disabled');

            });

        </script>
        <script>
            $(function () {
                $('#btnSubmit').on('click', function () {
                    $(this).val('Please wait ...')
                        .attr('disabled', 'disabled');
                    $('#myForm').submit();
                });

            });
        </script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
