@model NAMIS.Models.marragehistory

@{
    ViewData["Title"] = "Create";
}



    <h6><b>Record Of Service </b>&nbsp;&nbsp;/&nbsp;&nbsp;Marrage History Page</h6>
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <form id="myForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <select asp-for="MaritalStatus" class="form-control">

                    <option value="">-----Select-----</option>
                    <option value="Married">Married</option>
                    <option value="Single">Single</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Widower">Widower</option>
                    <option value="Widow">Widow</option>

                </select>
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfMarriage" class="control-label"></label>
                <input asp-for="DateOfMarriage" class="form-control" />
                <span asp-validation-for="DateOfMarriage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfWife" class="control-label"></label>
                <input asp-for="NameOfWife" class="form-control" />
                <span asp-validation-for="NameOfWife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WifeDateOfBirth" class="control-label"></label>
                <input asp-for="WifeDateOfBirth" class="form-control" />
                <span asp-validation-for="WifeDateOfBirth" class="text-danger"></span>
            </div>


            <div class="form-group">
                <p style="float:left"> <input type="submit" id="btnSubmit" value="Create" class="btn btn-primary" /></p>
                <p style="float:right">  <a asp-area="" asp-controller="particularofchildrens" asp-action="Create">Skip</a></p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
   
        <script src="~/lib/jquery/dist/jquery-1.4.1.min.js"></script>
        <script>
            $('form').submit(function () {

                $(this).find(':submit').attr('disabled', 'disabled');

            });

        </script>
        <script>
            $(function () {
                $('#btnSubmit').on('click', function () {
                    $(this).val('Please wait ...')
                        .attr('disabled', 'disabled');
                    $('#myForm').submit();
                });

            });
        </script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
