@model NAMIS.Models.createschedule

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h4>createschedule</h4>
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <form id="myForm" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduledName" class="control-label"></label>
                <input asp-for="ScheduledName" class="form-control" />
                <span asp-validation-for="ScheduledName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="Department" class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListofDept, "Department", "Department"))">
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <select asp-for="Unit" class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ListofUnit, "UnitName", "UnitName"))">
                </select>
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForWho" class="control-label"></label>
                <select asp-for="ForWho" class="form-control">
                    <option value="">---Select---</option>
                    <option value="Head">Unit Head</option>
                    <option value="Staff">Staff</option>
                </select>
                <span asp-validation-for="ForWho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Controllers" class="control-label"></label>
                <input asp-for="Controllers" class="form-control" />
                <span asp-validation-for="Controllers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actions" class="control-label"></label>
                <input asp-for="Actions" class="form-control" />
                <span asp-validation-for="Actions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery-1.4.1.min.js"></script>
    <script>
            $('form').submit(function () {

                $(this).find(':submit').attr('disabled', 'disabled');

            });

    </script>
    <script>
            $(function () {
                $('#btnSubmit').on('click', function () {
                    $(this).val('Please wait ...')
                        .attr('disabled', 'disabled');
                    $('#myForm').submit();
                });

            });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
