@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@model NAMIS.Models.signatures

@{ ViewData["Title"] = "Delete";
    @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Executive Director")
    {
        Layout = "~/Views/Shared/_EdLayout.cshtml";
    }
                @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Director")
                {
                    Layout = "~/Views/Shared/_DirectorLayout.cshtml";
                }
                            @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Unit Head")
                            {
                                Layout = "~/Views/Shared/_UnitHeadLayout.cshtml";
                            }
                                        @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Staff")
                                        {

                                        }
                                                    @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Admin")
                                                    {
                                                        Layout = "~/Views/Shared/_AdminLayout.cshtml";
                                                    }
                                                                @if (HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Zonal Head" || HttpContextAccessor.HttpContext.Session.GetString("RoleID") == "Out Station Head")
                                                                {
                                                                    Layout = "~/Views/Shared/_ZonalHeadLayout.cshtml";
                                                                } }





<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>signatures</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SignFile)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.SignFile"
                 class="rounded-circle"
                 height="40" width="40"
                 asp-append-version="true" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
